<header class="flex flex-row py-4 px-4 sm:px-10 font-sans min-h-[70px] tracking-wide relative">
    <div class="header__left-section w-40 flex text-center">
        <a routerLink="/" class="logo-name">Звонки</a>
    </div>

    <div class="header-content">
        <a class="tui-text_body-l header-content__item header-content__item--highlighted" routerLink="/meeting/create"
            >Конференция</a
        >
    </div>
    <div class="header__right-section">
        @if (!isAuthenticated()) {
            <a class="header__login tui-text_body-l" routerLink="/auth">
                Войти
                <button tuiIconButton shape="rounded" size="s" icon="tuiIconArrowUpRight" appearance="icon"></button>
            </a>
        } @else {
            <a class="header__login tui-text_body-l" routerLink="/auth/logout">
                Выйти
                <button tuiIconButton shape="rounded" size="s" icon="tuiIconArrowUpRight" appearance="icon"></button>
            </a>
        }
    </div>
</header>
