<div class="h-screen w-screen flex flex-col bg-gray-900 text-white">
    <div class="flex flex-1 overflow-hidden">
        <div class="flex-1 flex items-center justify-center bg-black relative">
            <app-grid>
                @for (stream of videoStreams$ | async; track stream.id) {
                    <app-video appGridItem [srcObject]="stream"></app-video>
                }
            </app-grid>
        </div>
    </div>

    <footer class="p-4 border-t border-white/10 bg-gray-800 flex items-center justify-between">
        <div class="text-sm text-white/60 flex-1">{{ meeting.id }}</div>

        <div class="flex justify-center gap-4">
            <button
                tuiIconButton
                type="button"
                size="m"
                appearance="outline"
                [icon]="(microphoneMuted$ | async) ? 'tuiIconMicOff' : 'tuiIconMic'"
                (click)="toggleMicrophone()"
                tuiTheme="night"
            ></button>

            <button
                tuiIconButton
                type="button"
                size="m"
                appearance="outline"
                [icon]="(cameraMuted$ | async) ? 'tuiIconVideoOff' : 'tuiIconVideo'"
                (click)="toggleCamera()"
                tuiTheme="night"
            ></button>

            <button
                tuiIconButton
                type="button"
                size="m"
                appearance="outline"
                [icon]="(audioMuted$ | async) ? 'tuiIconVolumeX' : 'tuiIconVolume2'"
                (click)="toggleAudio()"
                tuiTheme="night"
            ></button>

            <button
                tuiIconButton
                type="button"
                size="m"
                appearance="accent"
                icon="tuiIconPhoneOff"
                tuiTheme="night"
                appWindowClose
            ></button>
        </div>

        <div class="flex gap-2 flex-1 justify-end">
            <button
                tuiIconButton
                type="button"
                size="m"
                appearance="outline"
                icon="tuiIconMessageSquare"
                tuiTheme="night"
                (click)="toggleChat(true)"
                (tuiActiveZoneChange)="toggleChat($event)"
            >
                <div
                    class="bg-gray-800 border-l border-white/10 flex flex-col h-full text-white/70 w-80"
                    *tuiSidebar="chatOpened(); direction: 'right'; autoWidth: true"
                >
                    <div class="p-4 border-b border-white/10 text-lg font-semibold">Чат</div>

                    <div
                        class="p-4 text-sm h-0 flex-1 flex flex-col-reverse justify-start overflow-y-auto gap-2 scrollbar"
                    >
                        @for (message of messages$ | async; track message.id) {
                            <div
                                class="w-[75%] rounded-lg px-4 py-3 bg-gray-700 text-white/90 flex flex-col gap-1 relative"
                                [ngClass]="{
                                    'bg-blue-600 text-white items-end self-end': isMineMessage(message),
                                    'bg-gray-700 text-white/90 items-start self-start': !isMineMessage(message),
                                }"
                            >
                                @if (!isMineMessage(message)) {
                                    <div class="text-xs font-semibold text-white/60">
                                        {{ message.author.login }}
                                    </div>
                                }

                                <div class="whitespace-wrap break-words w-full text-sm flex flex-col align-start">
                                    {{ message.text }}
                                </div>

                                <div class="absolute right-2 bottom-1 text-[10px] text-white/40 leading-none">
                                    {{ message.created_at | date: 'shortTime' }}
                                </div>
                            </div>
                        }
                    </div>

                    <div class="border-t border-white/10 p-4 min-w-80">
                        <form
                            class="flex gap-2 items-center"
                            [formGroup]="messageForm"
                            (ngSubmit)="meetingPostMessage()"
                        >
                            <tui-textarea
                                [formControl]="messageForm.controls.message"
                                class="w-full textarea"
                                [expandable]="true"
                                [maxLength]="30"
                                tuiMode="onDark"
                            >
                                Новое сообщение
                            </tui-textarea>
                            <button tuiIconButton icon="tuiIconSend" type="submit" appearance="white"></button>
                        </form>
                    </div>
                </div>
            </button>

            <button
                tuiIconButton
                type="button"
                size="m"
                appearance="outline"
                icon="tuiIconUsers"
                tuiTheme="night"
                (click)="toggleParticipants(true)"
                (tuiActiveZoneChange)="toggleParticipants($event)"
            >
                <div
                    class="w-80 bg-gray-800 border-l border-white/10 flex flex-col h-full text-white/70 w-80"
                    *tuiSidebar="participantsOpened(); direction: 'right'; autoWidth: true"
                >
                    <div class="p-4 border-b border-white/10 text-lg font-semibold">Участники</div>

                    <tui-scrollbar class="p-4 text-sm h-full" tuiMode="onDark">
                        <ul class="space-y-2">
                            @for (participant of participants$ | async; track participant.userId) {
                                <li>
                                    <div class="flex items-center gap-2">
                                        <div class="w-2.5 h-2.5 rounded-full bg-green-500"></div>
                                        {{ participant.userId }}
                                    </div>
                                </li>
                            }
                        </ul>
                    </tui-scrollbar>
                </div>
            </button>
        </div>
    </footer>
</div>
